## colocar variavel de ambiente para SPA DOMAIN

{$API_DOMAIN} {
    reverse_proxy api:80 {
        header_up Origin {http.request.header.Origin}
        header_up Host {http.request.host}
        header_up X-Real-IP {http.request.remote}
        header_up X-Forwarded-For {http.request.remote}
        header_up X-Forwarded-Proto {http.request.scheme}
        header_up Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE"
        header_up Access-Control-Allow-Headers "Content-Type"
    }
    
    tls {$EMAIL}
}

## colocar variavel de ambiente para API DOMAIN

{$SPA_DOMAIN} {
    reverse_proxy spa:5173 {
        header_up Origin {http.request.header.Origin}
        header_up Host {http.request.host}
        header_up X-Real-IP {http.request.remote}
        header_up X-Forwarded-For {http.request.remote}
        header_up X-Forwarded-Proto {http.request.scheme}
        header_up Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE"
        header_up Access-Control-Allow-Headers "Content-Type"
    }

    tls {$EMAIL}
}

#{$SPA_DOMAIN} {
#    root * /var/www/spa
#    try_files {path} /index.html
#	file_server
#	tls {$EMAIL}
#}

## colocar variavel de ambiente para MOBI DOMAIN
{$MOBI_DOMAIN} {
    root * /var/www/mobi
    try_files {path} /index.html
	file_server
	tls {$EMAIL}
}
